<h1>User info</h1>

<%= attachment_image_tag user, :profile_image, :fill, 60, 60, fallback: "no_image.png" %>
<h4>name</h4>
<%= user.name %>
<h4>Introduction</h4>
<%= user.introduction %>
<% if user.id == current_user.id %>
<%= link_to 'Profile edit', edit_user_path(user) %>
<% else %>
<%= link_to 'Profile edit', user_path(current_user) %>
<% end %>
