    <div class="container">
     <div class="row">
      <div class="col-md-6 col-md-offset-3">
       <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
       <% end %>
      </div>
     <div class="col-md-3"></div>
    </div>
   </div>



    <div class="container">
     <div class="row">
      <div class="col-lg-4 col-sm-4 open">
       <%= render 'users/list', user: @user %>
       <%= render 'follow_form' %>
       <%= render 'stats' %>
       <%= render 'books/list', book: @book %>
      </div>

    <div class="col-lg-8 col-sm-8">

     <h1>Books</h1>

      <table class="table table-hover">
       <thead>
        <tr>
         <th>title</th>
         <th>opinion</th>
        </tr>
       </thead>
      <tbody>
       <% @books.each do |book| %>
        <tr>
         <td><%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.png" %></td>
         <td><%= link_to book.title, book_path(book) %></td>
         <td><%= book.body %></td>
        </tr>
       <% end %>
      </tbody>
     </table>
     <div class="hidden">
      <%= render 'users/list', user: @user %>
      <%= render 'books/list', book: @book %>
     </div>
    </div>
   </div>
  </div>
