<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <header>
      <section>
        <nav class="navbar navbar-default">
          <div class="container-fluid p-3 mb-2 bg-success text-white">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
                <span class="sr-only">Toggle navigation</span>
            				<span class="icon-bar"></span>
            				<span class="icon-bar"></span>
            				<span class="icon-bar"></span>
            				<span class="icon-bar"></span>
              </button>
              <h1 class="navbar-brand">Bookers</h1>
            </div>
              <div class="collapse navbar-collapse" id="navbarEexample">

      <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right pt-1">
        <li><%= link_to 'Home', user_path(current_user.id), class: "glyphicon glyphicon-home" %></li>
        <li><a class="glyphicon glyphicon-user" aria-hidden="true" href="/users">Users</a></li>
        <li><a class="glyphicon glyphicon-book" aria-hidden="true" href="/books">Books</a></li>
        <li><a class="glyphicon glyphicon-share-alt" aria-hidden="true" data-method="delete" href="/users/sign_out">Logout</a></li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right pt-1">
        <li><a class="glyphicon glyphicon-home" aria-hidden="true" href="/">Home</a></li>
        <li><a class="glyphicon glyphicon-tag" aria-hidden="true" href="/root/about">About</a></li>
        <li><a class="glyphicon glyphicon-check" aria-hidden="true" href="/users/sign_up">Sign_up</a></li>
        <li><a class="glyphicon glyphicon-share" aria-hidden="true" href="/users/sign_in">Sign_in</a></li>
        <% end %>
      </ul>
    </div>
    </div>
    </nav>
    </section>
    </header>
    <%= yield %>
    <footer>
      CopyRight yamamotonaoki
    </footer>
  </body>
</html>
